# Artefactos y Zips de Build
layer/layer.zip
terraform/function.zip
response.json
*.zip

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
env/
venv/
ENV/
